<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <charset>UTF-8</charset>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="com.purplepip" level="DEBUG"/>
  <!--
    org.hibernate.SQL level set to DEBUG is same as hibernate.show_sql=true in hibernate
    properties, however it's more convenient to configure debug logging here in the log file.
    -->
  <logger name="org.hibernate.SQL" level="DEBUG"/>

  <root level="WARN">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>